# FE environment
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd

# BE environment
env/
venv/
.venv/

# Environment variables
.env

# Next.js
.next/
out/

# package distribution
build/
dist/

# database files
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# docker
.dockerignore

# test coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# local test files
**/sandbox.py
sample_contracts/
sample_output/

# local sample/seed data
**/sample_data/
